<%= form_for @userparam, url: userparam_path(current_user.id) do |f| %>

<% if @userparam.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@userparam.errors.count, "error") %> prohibited this userparam from being saved:</h2>
 
    <ul>
    <% @userparam.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

	<strong>first name</strong><br>
	<%= f.text_field :firstname %><br />
	<strong>lastname</strong><br>
	<%= f.text_field :lastname %><br />
	<strong>age</strong><br>
	<%= f.text_field :age %><br />
	<p> <strong>avatar</strong><br>
	<%= f.file_field :avatar %> <br> <br></p>
	<%= f.submit "Update" %>
<% end %>